.headshot {
    max-height: 20%;
    width: auto;
    width: 100px;
    border-radius: 10px;
}

.bio {
    background-color: black;
    color: #ddd;
    padding: 5rem;
}

.section-header {
    font-style: italic;
}

.num {
    font-family: monospace;
}

.hero-callout {
    font-style: italic;
    margin: 2vh auto 2vh auto;
    padding: 1rem;
    border-radius: 1rem;
    width: auto;
}

.hero-callout h4 {
    margin: 0 auto;
    text-align: center;
}

mark {
    background-color: none;
    background: none;
}

.animation {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #FBF719 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

@-webkit-keyframes highlight {
    to {
        background-position: 0 0;
    }
}

@keyframes highlight {
    to {
        background-position: 0 0;
    }
}

#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: var(--scrollAmount);

    /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */

    height: 10px;
    position: fixed;
    top: 0;
}


footer {
    height: 5vh;
    background-color: black;
    color: #444;
    margin: 0;
    padding: 1rem;
}

footer p {
    text-align: center;
    font-size: small;
    font-style: italic;
    margin: 0.5rem;
}

footer a {
    color: inherit
}

footer a:hover {
    color: #0FA0CE;
}


.contents:hover a:not(:hover) {
    color: lightgray;
    transition: 200ms;
}

.contents a {
    color: inherit;
    cursor: pointer;
}

.contents a:hover {
    color: #444;
    transition: 200ms;
}

sup a {
    text-decoration: none;
}

@media only screen and (max-width: 1026px) { 
    #slideOut { 
      display: none; 
    } 
  }

#slideOut {
    position: fixed;
    max-width: 20%;
    height: auto;
    top: 30px;
    left: -300px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slideOutTab {
    cursor: pointer;
    position: absolute;
    left: 320px;
    height: 100%;
    width: 20px;
    background: #8fd3f4;
    border-radius: 0px 10px 10px 0px
  }

  .showSlideOut {
    left: 20px !important;
  }

  .hideSlideOut {
    left: -320px !important;
  }
.mini-menu h5 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.mini-menu h6 {
    font-size: 1rem;
    margin: 0.2rem;

}